:root{
    --main-bg-color: #4dcbae;
    --container-bg-light: #39b598 linear-gradient(to bottom, #4dcbae 0%,#39b598 100%);
    --container-bg-dark: #156884 linear-gradient(to bottom, #134155 0%,#156884 100%);
}

.header__banner{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px 10px 10px 10px;
}
.header__banner__item{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: auto;
}
.header__banner__item h1{ 
    color: var(--main-bg-color);
    font-style: italic;
    font-size: 400%;
    font-family: fantasy;
}
.header__navbar{
    background: var(--container-bg-light);
    border-radius: 7px;
}
.header__navbar__top{
    box-shadow: 0px -2px 10px grey;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
.header__navbar__bottom{
    background: var(--container-bg-dark);
}
.nav__list{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: auto;
    margin: 0;
    padding: 12px;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.nav__list a{
    text-decoration: none;
    color: white;
}
body{
    background: white;
}
.product-grid__container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}
.product-grid__container__item{
    display: flex;
    flex-flow: column;
    padding: 4px;
}
.product-grid__container__item > h1{
    align-self: center;
    color: var(--main-bg-color);
}
.product-grid__container__item > p{
    align-self: center;
}
.product-grid__container__item__image{
    align-self: center;
    order: -1;
    height: 20rem;
    width: 20rem;
}
.footer-container{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    background: var(--container-bg-dark);
    color: var(--main-bg-color);
}